a {
    text-decoration: none;
}
table {
    background: #FFFFFF;
    margin-top: 200px;
    width: 800px;
    padding: 0px;
    position: absolute;
}
tr {
    text-align: center;
}
#container {
    width: 800px;
    margin: 0px auto;
}
#bottom {
    bottom: 0px;
    margin: 0px auto;
}
#myCanvas {
    bottom: 0px;
    margin: 0px auto;
    position: absolute;
}